*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
html, body {
  height: 100%;
 width: 100%;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: burlywood;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card img {
  width: 140px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.card p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.card button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1b637b;
  color: white;
  cursor: pointer;
  font-size: 16px;
}